<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="container">

        <form action="/" method="post">
          <input name="userName" type="text" class="user-name" placeholder="Enter a name" >
          <input type="submit"  value="Submit">
        </form>

    </div>
  </body>
</html>