<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up</title>
</head>
<body>
  <div class="container">
    <div class="logo">

    </div>
    <h1>Sign Up</h1>
    <p>Already have a Compare Care account? <a href="/login">Log in</a></p>

    <form action="">
      <input type="text" placeholder="Email" name="userEmail">
      <input type="password" name="userPassword" id="" placeholder="Password">
      <button class="submit">Submit</button>

    </form>

  </div>
  
</body>
</html>